*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
header{
    background-color: red;
    height: 215px;
    padding: 1rem 0rem;
}
header h1{
    font-size: 3rem;
}
header p{
    margin: 1rem 0rem;
}
.container{
    width: 80%;
    margin: auto;
}
header  img{
    width: 5.6%;
    border-radius: 100%;
}
header  h1 img{
    vertical-align: middle;
}
header  button{
    padding: 8px 2rem;
    border-radius: 5px;
    background-color: red;
}
.contH1{
    text-transform: capitalize;
    margin: 2rem 0rem ;
}
main hr{
    margin: 1rem 0rem;
}


.box1{
    width: 33%;
    display: inline-block;
    margin: 1rem 0rem;
}
.box1 img{
    width: 50%;
    border-radius: 50%;

}
.box1 h3{
    margin: 1rem 0rem;
}

.section{
    background-image: url(../Front-edn/img/408671041_89_0_1190_692_1920x0_80_0_0_ce8c5930a3fed331f1de900aab55e1de.jpg);
    height: 100vh;
    background-position: right;
    background-size: contain;
}
.section h1{
    color: beige;
    padding: 1rem 0rem;
}
.section h3{
    color: beige;
    padding: 1rem 0rem;
}
.sectiontxt{
    width: 50%;
    padding: 8rem 1rem 0rem 6rem;
    text-align: center;
    margin: 0rem 0rem 0rem 20rem;
}
.section button{
padding: 10px 1rem;
margin-left: 27rem;
background-color: black;
color: beige;

}
